@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Roboto Mono';
    src: url('/fonts/RobotoMono-VariableFont.ttf') format('truetype');
  }

  html {
    scroll-behavior: smooth;
  }
}